<!-- Loop over each object in the projects array -->
{{#each posts as |project| }}
<div class="row mb-4 project">
  <div class="card">
    <div class="card-header">
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.title}}</a>
    </div>
    <div class="card-body">Created by {{project.user.name}} on {{format_date project.date_created}}

      <div class="card-body">
        <p>
        {{project.text}}
        </p>
      </div>
    </div>
  </div>
</div>
{{/each}}
